
@{
    ViewBag.Title = "list";
}

<section id="content">
    <section class="main padder">
        <div class="clearfix">
            <h4>
                <i class="fa fa-th-list">
                </i>
                List Groups
            </h4>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="list-group m-b-small">
                    <a href="#" class="list-group-item">
                        <i class="fa fa-chevron-right">
                        </i>
                        <span class="badge">
                            201
                        </span>
                        <i class="fa fa-fw fa-envelope">
                        </i>
                        Inbox
                    </a>
                    <a href="#" class="list-group-item">
                        <i class="fa fa-chevron-right">
                        </i>
                        <span class="badge bg-info">
                            5021
                        </span>
                        <i class="fa fa-fw fa-eye">
                        </i>
                        Profile visits
                    </a>
                    <a href="#" class="list-group-item">
                        <i class="fa fa-chevron-right">
                        </i>
                        <span class="badge">
                            14
                        </span>
                        <i class="fa fa-fw fa-phone">
                        </i>
                        Call
                    </a>
                    <a href="#" class="list-group-item">
                        <i class="fa fa-chevron-right">
                        </i>
                        <span class="badge bg-inverse">
                            20
                        </span>
                        <i class="fa fa-fw fa-comments-o">
                        </i>
                        Messages
                    </a>
                    <a href="#" class="list-group-item">
                        <i class="fa fa-chevron-right">
                        </i>
                        <span class="badge">
                            14
                        </span>
                        <i class="fa fa-fw fa-bookmark">
                        </i>
                        Bookmarks
                    </a>
                    <a href="#" class="list-group-item">
                        <i class="fa fa-chevron-right">
                        </i>
                        <span class="badge bg-info">
                            30
                        </span>
                        <i class="fa fa-fw fa-bell">
                        </i>
                        Notifications
                    </a>
                </div>
                <section class="panel">
                    <header class="panel-heading">
                        <div class="input-group text-small">
                            <input type="text" class="input-sm form-control" placeholder="Search">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-sm btn-white dropdown-toggle" data-toggle="dropdown">
                                    Action
                                    <span class="caret">
                                    </span>
                                </button>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="#">
                                            Action
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Another action
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Something else here
                                        </a>
                                    </li>
                                    <li class="divider">
                                    </li>
                                    <li>
                                        <a href="#">
                                            Separated link
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </header>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="media">
                                <span class="pull-left thumb-small">
                                    <img src="~/images/avatar.jpg"
                                         alt="John said" class="img-rounded">
                                </span>
                                <div class="pull-right text-success m-t-small">
                                    <i class="fa fa-circle">
                                    </i>
                                </div>
                                <div class="media-body">
                                    <div>
                                        <a href="#" class="h5">
                                            Chris Fox
                                        </a>
                                    </div>
                                    <small class="text-muted">
                                        about 2 minutes ago
                                    </small>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item bg">
                            <div class="media">
                                <span class="pull-left thumb-small">
                                    <img src="~/images/avatar.jpg"
                                         alt="John said" class="img-rounded">
                                </span>
                                <div class="pull-right text-success m-t-small">
                                    <i class="fa fa-circle">
                                    </i>
                                </div>
                                <div class="media-body">
                                    <div>
                                        <a href="#" class="h5">
                                            Amanda Conlan
                                        </a>
                                    </div>
                                    <small class="text-muted">
                                        about 2 hours ago
                                    </small>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="media">
                                <span class="pull-left thumb-small">
                                    <img src="~/images/avatar.jpg"
                                         alt="John said" class="img-rounded">
                                </span>
                                <div class="pull-right text-warning m-t-small">
                                    <i class="fa fa-circle">
                                    </i>
                                </div>
                                <div class="media-body">
                                    <div>
                                        <a href="#" class="h5">
                                            Dan Doorack
                                        </a>
                                    </div>
                                    <small class="text-muted">
                                        3 days ago
                                    </small>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item bg">
                            <div class="media">
                                <span class="pull-left thumb-small">
                                    <img src="~/images/avatar.jpg"
                                         alt="John said" class="img-rounded">
                                </span>
                                <div class="pull-right text-danger m-t-small">
                                    <i class="fa fa-circle">
                                    </i>
                                </div>
                                <div class="media-body">
                                    <div>
                                        <a href="#" class="h5">
                                            Lauren Taylor
                                        </a>
                                    </div>
                                    <small class="text-muted">
                                        about 2 minutes ago
                                    </small>
                                </div>
                            </div>
                        </li>
                    </ul>
                </section>
            </div>
            <div class="col-lg-6">
                <section class="panel">
                    <header class="panel-heading bg bg-inverse">
                        Mailbox
                    </header>
                    <div class="list-group">
                        <a href="#" class="list-group-item bg-lighter">
                            <i class="fa fa-chevron-right">
                            </i>
                            <span class="badge bg-success">
                                230
                            </span>
                            <i class="fa fa-fw fa-inbox">
                            </i>
                            Inbox (5)
                        </a>
                        <a href="#" class="list-group-item">
                            <i class="fa fa-chevron-right">
                            </i>
                            <span class="badge">
                                50
                            </span>
                            <i class="fa fa-fw fa-check">
                            </i>
                            Sent mail
                        </a>
                        <a href="#" class="list-group-item">
                            <i class="fa fa-chevron-right">
                            </i>
                            <span class="badge">
                                5
                            </span>
                            <i class="fa fa-fw fa-edit">
                            </i>
                            Draft
                        </a>
                        <a href="#" class="list-group-item">
                            <i class="fa fa-chevron-right">
                            </i>
                            <span class="badge">
                                20
                            </span>
                            <i class="fa fa-fw fa-star">
                            </i>
                            Starred
                        </a>
                        <a href="#" class="list-group-item">
                            <i class="fa fa-chevron-right">
                            </i>
                            <span class="badge">
                                15
                            </span>
                            <i class="fa fa-fw fa-trash-o">
                            </i>
                            Trash
                        </a>
                    </div>
                </section>
                <section class="panel">
                    <header class="panel-heading bg bg-primary">
                        <a class="btn btn-link pull-right nav">
                            <i class="fa fa-search fa fa-light fa-lg">
                            </i>
                        </a>
                        Task List
                    </header>
                    <ul class="list-group">
                        <li class="list-group-item" data-toggle="class:active" data-target="#todo-1">
                            <div class="media">
                                <span class="pull-left thumb-small m-t-mini">
                                    <i class="fa fa-code fa-lg text-default">
                                    </i>
                                </span>
                                <div id="todo-1" class="pull-right text-primary m-t-small">
                                    <i class="fa fa-circle fa-lg text text-muted">
                                    </i>
                                    <i class="fa fa-check fa-lg text-active text-primary">
                                    </i>
                                </div>
                                <div class="media-body">
                                    <div>
                                        <a href="#" class="h5">
                                            Coding on app
                                        </a>
                                    </div>
                                    <small class="text-muted">
                                        9:30 am every day
                                    </small>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item" data-toggle="class:active" data-target="#todo-2">
                            <div class="media">
                                <span class="pull-left thumb-small m-t-mini">
                                    <i class="fa fa-reply fa-lg text-default">
                                    </i>
                                </span>
                                <div id="todo-2" class="pull-right text-primary m-t-small">
                                    <i class="fa fa-circle fa-lg text text-muted">
                                    </i>
                                    <i class="fa fa-check fa-lg text-active text-primary">
                                    </i>
                                </div>
                                <div class="media-body">
                                    <div>
                                        <a href="#" class="h5">
                                            Reply email
                                        </a>
                                    </div>
                                    <small class="text-muted">
                                        Check Gmail and reply
                                    </small>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item" data-toggle="class:active" data-target="#todo-3">
                            <div class="media">
                                <span class="pull-left thumb-small m-t-mini">
                                    <i class="fa fa-coffee fa-lg text-default">
                                    </i>
                                </span>
                                <div id="todo-3" class="pull-right text-primary m-t-small">
                                    <i class="fa fa-circle fa-lg text text-muted">
                                    </i>
                                    <i class="fa fa-check fa-lg text-active text-primary">
                                    </i>
                                </div>
                                <div class="media-body">
                                    <div>
                                        <a href="#" class="h5">
                                            Coffee time
                                        </a>
                                    </div>
                                    <small class="text-muted">
                                        Freetime as you want
                                    </small>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item" data-toggle="class:active" data-target="#todo-4">
                            <div class="media">
                                <span class="pull-left thumb-small m-t-mini">
                                    <i class="fa fa-music fa-lg text-default">
                                    </i>
                                </span>
                                <div id="todo-4" class="pull-right text-primary m-t-small">
                                    <i class="fa fa-circle fa-lg text text-muted">
                                    </i>
                                    <i class="fa fa-check fa-lg text-active text-primary">
                                    </i>
                                </div>
                                <div class="media-body">
                                    <div>
                                        <a href="#" class="h5">
                                            Listen music
                                        </a>
                                    </div>
                                    <small class="text-muted">
                                        Listening and finding
                                    </small>
                                </div>
                            </div>
                        </li>
                    </ul>
                </section>
            </div>
        </div>
    </section>
</section>


