
@{
    ViewBag.Title = "profile";
}

<section id="content" class="content-sidebar bg-white">
    <!-- .sidebar -->
    <aside class="sidebar bg-lighter sidebar">
        <div class="text-center clearfix bg-white">
            <img src="~/images/avatar.jpg">
        </div>
        <div class="bg-light padder padder-v">
            <span class="h4">
                Mogen Adli
            </span>
            <small class="block m-t-mini">
                Freelancer
            </small>
            <button class="btn btn-primary btn-sm active" data-toggle="button">
                <span class="text">
                    <i class="fa fa-eye-slash">
                    </i>
                    Follow
                </span>
                <span class="text-active">
                    <i class="fa fa-eye">
                    </i>
                    Following
                </span>
            </button>
        </div>
        <div class="list-group list-normal m-b-none">
            <a href="#" class="list-group-item">
                Profile
            </a>
            <a href="#" class="list-group-item">
                Activity
            </a>
            <a href="#" class="list-group-item">
                Group
            </a>
            <a href="#" class="list-group-item">
                <span class="badge m-r">
                    3
                </span>
                Friends
            </a>
            <a href="#" class="list-group-item">
                <span class="badge m-r">
                    4
                </span>
                Posts
            </a>
        </div>
    </aside>
    <!-- /.sidebar -->
    <!-- .sidebar -->
    <section class="main">
        <div class="padder">
            <div class="row">
                <div class="col-xs-4 bg-primary padder-v">
                    <div class="h2">
                        816
                    </div>
                    Followers
                </div>
                <div class="col-xs-4 bg-info padder-v">
                    <div class="h2">
                        2,875
                    </div>
                    Following
                </div>
                <div class="col-xs-4 bg-success padder-v">
                    <div class="h2">
                        3,147
                    </div>
                    Friends
                </div>
            </div>
        </div>
        <ul class="nav nav-tabs m-b-none no-radius">
            <li class="active">
                <a href="#all" data-toggle="tab">
                    All
                </a>
            </li>
            <li>
                <a href="#events" data-toggle="tab">
                    Events
                </a>
            </li>
            <li>
                <a href="#feed" data-toggle="tab">
                    Feed
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="all">
                <ul class="list-group list-normal">
                    <li class="list-group-item">
                        <a href="#" class="thumb-small pull-left m-r-small">
                            <img src="~/images/avatar.jpg"
                                 class="img-circle">
                        </a>
                        <div>
                            <small class="pull-right text-muted">
                                3 minuts ago
                            </small>
                            <a href="#">
                                <strong>
                                    Foxe Ohil
                                </strong>
                            </a>
                            commented
                            <a href="#">
                                Vestibulum ullamcorper sodales nisi nec...
                            </a>
                            <div class="text-small">
                                <a href="#">
                                    Like
                                </a>
                                <a href="#">
                                    Comment
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <a href="#" class="thumb-small pull-left m-r-small">
                            <img src="~/images/avatar.jpg"
                                 class="img-circle">
                        </a>
                        <div>
                            <small class="pull-right text-muted">
                                1 hour ago
                            </small>
                            <a href="#">
                                <strong>
                                    Mogen Osker
                                </strong>
                            </a>
                            posted a video
                            <a href="#">
                                Aamcorper sodales nisi nec
                            </a>
                            <div class="text-small">
                                <a href="#">
                                    Like
                                </a>
                                <a href="#">
                                    Comment
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <a href="#" class="thumb-small pull-left m-r-small">
                            <img src="~/images/avatar.jpg"
                                 class="img-circle">
                        </a>
                        <div>
                            <small class="pull-right text-muted">
                                3 minuts ago
                            </small>
                            <a href="#">
                                <strong>
                                    Foxe Ohil
                                </strong>
                            </a>
                            commented
                            <a href="#">
                                Vestibulum ullamcorper sodales nisi nec...
                            </a>
                            <div class="text-small">
                                <a href="#">
                                    Like
                                </a>
                                <a href="#">
                                    Comment
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <a href="#" class="thumb-small pull-left m-r-small">
                            <img src="~/images/avatar.jpg"
                                 class="img-circle">
                        </a>
                        <div>
                            <small class="pull-right text-muted">
                                1 hour ago
                            </small>
                            <a href="#">
                                <strong>
                                    Mogen Osker
                                </strong>
                            </a>
                            posted a video
                            <a href="#">
                                Aamcorper sodales nisi nec
                            </a>
                            <div class="text-small">
                                <a href="#">
                                    Like
                                </a>
                                <a href="#">
                                    Comment
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <a href="#" class="thumb-small pull-left m-r-small">
                            <img src="~/images/avatar.jpg"
                                 class="img-circle">
                        </a>
                        <div>
                            <small class="pull-right text-muted">
                                3 minuts ago
                            </small>
                            <a href="#">
                                <strong>
                                    Foxe Ohil
                                </strong>
                            </a>
                            commented
                            <a href="#">
                                Vestibulum ullamcorper sodales nisi nec...
                            </a>
                            <div class="text-small">
                                <a href="#">
                                    Like
                                </a>
                                <a href="#">
                                    Comment
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <a href="#" class="thumb-small pull-left m-r-small">
                            <img src="~/images/avatar.jpg"
                                 class="img-circle">
                        </a>
                        <div>
                            <small class="pull-right text-muted">
                                1 hour ago
                            </small>
                            <a href="#">
                                <strong>
                                    Mogen Osker
                                </strong>
                            </a>
                            posted a video
                            <a href="#">
                                Aamcorper sodales nisi nec
                            </a>
                            <div class="text-small">
                                <a href="#">
                                    Like
                                </a>
                                <a href="#">
                                    Comment
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <a href="#" class="thumb-small pull-left m-r-small">
                            <img src="~/images/avatar.jpg"
                                 class="img-circle">
                        </a>
                        <div>
                            <small class="pull-right text-muted">
                                3 minuts ago
                            </small>
                            <a href="#">
                                <strong>
                                    Foxe Ohil
                                </strong>
                            </a>
                            commented
                            <a href="#">
                                Vestibulum ullamcorper sodales nisi nec...
                            </a>
                            <div class="text-small">
                                <a href="#">
                                    Like
                                </a>
                                <a href="#">
                                    Comment
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <a href="#" class="thumb-small pull-left m-r-small">
                            <img src="~/images/avatar.jpg"
                                 class="img-circle">
                        </a>
                        <div>
                            <small class="pull-right text-muted">
                                1 hour ago
                            </small>
                            <a href="#">
                                <strong>
                                    Mogen Osker
                                </strong>
                            </a>
                            posted a video
                            <a href="#">
                                Aamcorper sodales nisi nec
                            </a>
                            <div class="text-small">
                                <a href="#">
                                    Like
                                </a>
                                <a href="#">
                                    Comment
                                </a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="tab-pane" id="events">
                <ul class="list-group list-normal">
                    <li class="list-group-item">
                        <a href="#" class="thumb-small pull-left m-r-small">
                            <img src="~/images/avatar.jpg"
                                 class="img-circle">
                        </a>
                        <div>
                            <small class="pull-right text-muted">
                                3 minuts ago
                            </small>
                            <a href="#">
                                <strong>
                                    Foxe Ohil
                                </strong>
                            </a>
                            commented
                            <a href="#">
                                Vestibulum ullamcorper sodales nisi nec...
                            </a>
                            <div class="text-small">
                                <a href="#">
                                    Like
                                </a>
                                <a href="#">
                                    Comment
                                </a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="tab-pane" id="feed">
                <ul class="list-group list-normal">
                    <li class="list-group-item">
                        <a href="#" class="thumb-small pull-left m-r-small">
                            <img src="~/images/avatar.jpg"
                                 class="img-circle">
                        </a>
                        <div>
                            <small class="pull-right text-muted">
                                1 hour ago
                            </small>
                            <a href="#">
                                <strong>
                                    Mogen Osker
                                </strong>
                            </a>
                            posted a video
                            <a href="#">
                                Aamcorper sodales nisi nec
                            </a>
                            <div class="text-small">
                                <a href="#">
                                    Like
                                </a>
                                <a href="#">
                                    Comment
                                </a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!-- /.sidebar -->
    <!-- .sidebar -->
    <aside class="sidebar bg text-small">
        <div class="padder padder-v">
            <div class="input-group">
                <input type="text" class="input-sm form-control" placeholder="Search friends">
                <span class="input-group-btn">
                    <button class="btn btn-sm btn-white" type="button">
                        <i class="fa fa-search">
                        </i>
                    </button>
                </span>
            </div>
        </div>
        <ul class="list-group list-normal m-b">
            <li class="list-group-item">
                <div class="media">
                    <span class="pull-left thumb-small">
                        <img src="~/images/avatar.jpg"
                             alt="John said" class="img-circle">
                    </span>
                    <div class="pull-right text-success m-t-small">
                        <i class="fa fa-circle">
                        </i>
                    </div>
                    <div class="media-body">
                        <div>
                            <a href="#" class="h5">
                                Chris Fox
                            </a>
                        </div>
                        <small class="text-muted">
                            2 minutes ago
                        </small>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="media">
                    <span class="pull-left thumb-small">
                        <img src="~/images/avatar.jpg"
                             alt="John said" class="img-circle">
                    </span>
                    <div class="pull-right text-success m-t-small">
                        <i class="fa fa-circle">
                        </i>
                    </div>
                    <div class="media-body">
                        <div>
                            <a href="#" class="h5">
                                Amanda Col
                            </a>
                        </div>
                        <small class="text-muted">
                            2 hours ago
                        </small>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="media">
                    <span class="pull-left thumb-small">
                        <img src="~/images/avatar.jpg"
                             alt="John said" class="img-circle">
                    </span>
                    <div class="pull-right text-warning m-t-small">
                        <i class="fa fa-circle">
                        </i>
                    </div>
                    <div class="media-body">
                        <div>
                            <a href="#" class="h5">
                                Dan Doorack
                            </a>
                        </div>
                        <small class="text-muted">
                            3 days ago
                        </small>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="media">
                    <span class="pull-left thumb-small">
                        <img src="~/images/avatar.jpg"
                             alt="John said" class="img-circle">
                    </span>
                    <div class="pull-right text-danger m-t-small">
                        <i class="fa fa-circle">
                        </i>
                    </div>
                    <div class="media-body">
                        <div>
                            <a href="#" class="h5">
                                Lauren Taylor
                            </a>
                        </div>
                        <small class="text-muted">
                            2 minutes ago
                        </small>
                    </div>
                </div>
            </li>
        </ul>
    </aside>
    <!-- /.sidebar -->
</section>

