/* FOOTER GOTO TOP */
.footer-tools {
display: inline-block;
float: right;
}
.footer-tools .go-top {
background-color: #c1c1c1;
cursor: pointer;
display: block;
font-size: 14px;
margin-bottom: 0;
margin-right: 0;
margin-top: -2px;
padding: 0 6px 2px;
text-decoration: none;
border-radius: 4px;
color: #FFFFFF;
text-transform: uppercase;
}
.footer-tools .go-top i {
color: #FFFFFF;
}
.footer-tools:hover {
opacity: 0.7;
}